name: Docker Image CI

permissions: write-all

on:
  workflow_run:
    workflows: ["Python (3.11, 3.12) ,"]
    types:
      - completed
jobs:
  dockerloginbuildpush:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: akinzou
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v2
      - name: Create image from repository
        run: docker build -t ghcr.io/akinzou/tradelocker_bot:latest .
      - name: Push image to GitHub Container Registry
        run: docker push ghcr.io/akinzou/tradelocker_bot:latest
